.quiz{
    border: 1px solid red;
    margin: 20px;
    padding-bottom: 20px;
    width: 20rem;
    background-color: rgb(234, 246, 255);
}
.quiz img{
    width: 10rem;
}
.quiz button{
    text-decoration: none;
    background-color: bisque;
    border: 1px dotted red;
    padding: 5px 10px;
}