.quiz {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 20px;
    width: 20rem;
    background-color: rgb(25, 173, 231);

}

.quiz img {
    width: 10rem;
}

.quiz button {
    background-color: rgb(240, 243, 52);
    border: 1px dotted rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;


}

.quiz-start-btn {
    text-decoration: none;
    color: black;

}