.quiz {
    border: 1px solid rgb(125, 30, 235);
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 20px;
    width: 20rem;
    background-color: rgb(145, 154, 231);
}

.quiz img {
    width: 10rem;
}

.quiz button {
    background-color: rgb(238, 117, 36);
    border: 1px dotted rgb(104, 1, 223);
    border-radius: 10px;
    padding: 5px 10px;

}

.quiz-start-btn {
    text-decoration: none;
    color: white;
}