.quiz-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.upper-home {
    background-color: rgb(161, 173, 224);
    height: 100px;

}

@media only screen and (max-width: 800px) {
    .quiz-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .quiz-container {
        grid-template-columns: repeat(1, 1fr);
    }
}