.quiz-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    padding-top: 30px;

}

.upper-home {
    background-color: rgb(4, 123, 235);
    height: 100px;
    padding-top: 15px;
    color: white;
}

@media only screen and (max-width: 800px) {
    .quiz-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .quiz-container {
        grid-template-columns: repeat(1, 1fr);
    }
}