.header-nav {
    padding: 2% 5%;
    margin-left: 36%;

}

.header-nav a {
    text-decoration: none;
    margin-right: 2%;
    padding: 2px 5px;
}

.header {
    padding: 0px 5%;
    display: flex;
    background-color: rgb(25, 173, 231);
}

.clr {
    color: white;
}