.ans-section {
    padding: 0px 7%;
    background-color: rgb(170, 202, 238);
    padding-bottom: 30px;
}

.ans {
    background-color: rgb(179, 185, 241);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 20px;
}