.ans-section {
    padding: 0px 7%;
    background-color: rgb(25, 173, 231);
    padding-bottom: 30px;
}

.ans {
    background-color: rgb(152, 225, 253);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 20px;
}